.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #263646;
  color: white;

  padding: 1rem 2rem;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: "Carter One", cursive;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;

  padding: 0.5rem 1rem;
  border-radius: 6px;

  transition: background-color 0.2s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.active {
  background-color: #07a060;
}

.profile-section {
  cursor: pointer;
}

.profile-button {
  color: white !important;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bold;

}

.avatar {
  width: 36px;
  height: 36px;

  border-radius: 50%;

  background-color: #000000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}