<h1  class="title">Personajes</h1>

<p>Personajes: {{ lstData().length }}</p>

<div class="card-grid">
  @for (personaje of lstData(); track personaje.personaje_ID) {

    <mat-card class="character-card" [routerLink]="['/personajes', personaje.personaje_ID]">

      <mat-card-header>
        <mat-card-title  class="title">
          {{ personaje.nombre }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ personaje.raza?.nombre }} - {{ personaje.clases?.[0]?.nombre }} {{ personaje.clases?.[0]?.nivel}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>EXP:</strong> {{ personaje.experiencia }}</p>
        <p><strong>Clases:</strong></p>

        @for (clase of personaje.clases; track clase.claseTemplate_ID) {
          <p>
            {{ clase.nombre }} - Nivel {{ clase.nivel }}
          </p>
        }
        <p><strong>Nivel:</strong> {{ personaje.clases?.[0]?.nivel }}</p>
        <p><strong>Raza:</strong> {{ personaje.raza?.nombre }}</p>
        <p><strong>Creador:</strong> {{ personaje.usuario?.nombre }}</p>
      </mat-card-content>
    </mat-card>
  }
    <mat-card
      class="character-card create-card"
      routerLink="/personajes/create">

      <mat-card-content class="create-content">
        <span class="plus-sign">+</span>
        <span>Crear Personaje</span>
      </mat-card-content>

    </mat-card>

</div>